.produto {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: max-content;
  flex-basis: calc(32% - 10px);
  max-width: 350px;
}
.divImage {
  height:100%;
}

.produto img {
  border-radius: .2rem;
  object-fit: cover;
  min-height: 350px;
  height: 40vw;
  max-height: 400px;

}
.infos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.title {
  text-align: start;
  font-family: var(--type-second);
  font-size: 16px;
  font-weight: 400;
}
.price {
  text-align: start;
  width: max-content;
  margin-right: 30px;
  font-size: 12px;
  font-family: var(--type-second);
  font-weight: 400;
}
.bag {
  background: #e7e7e7;
  border-radius: 9999px;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: -5px;
}

@media (max-width:920px) {

  .produto {
    flex-basis: calc(48% - 10px);
    max-width: 400px;
  }
  .produto img {
    max-height: 500px;
    height: 60vw;
    min-height: 200px;
  }

}

@media (max-width: 50rem) {
  .produto {
    grid-template-rows: 400px 50px;
  }
  .produto img {
    max-height: 400px;
  }
  .price {
  margin-right: 10px;
  }
}

@media (max-width: 40rem) {
  .produto {
    grid-template-rows: 300px 50px;
  }
  .produto img {
    max-height: 300px;
  }
  .price {
  margin-right: 10px;
  }
}

@media (max-width: 550px) {

  .produto img {
    max-height: 280px;
  }
  .price {
  margin-right: 10px;
  }
}

@media (max-width: 30rem) {
  .produto {
    grid-template-rows: 230px 50px;
  }
  .produto img {
    max-height: 230px;
  }
  .price {
  margin-right: 10px;
  }
}