.produtosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  max-width: 1280px;
  margin-top: 32px;
  min-height: 600px;
}
.produtosContainer h3 {
  margin-bottom: 32px;
}
.criar{
  width: max-content;
  margin: 0 auto;
  margin-top: 64px;
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  border-radius: 12px;
}

.criar::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,red,blue,deeppink,blue,red,blue,deeppink
  ,blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 25s linear infinite;
  transition: 0.2s;
}


@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.produtos {
  display: grid;
  grid-template-columns: repeat(3, minmax(170px, 1fr));
  gap: 32px;
  padding: 0 20px;
  min-height: 600px;
}
@media (max-width:50rem) {
  .produtosContainer {
    margin-top: 16px;
  }
  .produtos {
  grid-template-columns: repeat(2, minmax(140px, 1fr));
  padding: 0 10px;
  gap: 8px;
  }
  .produtosContainer h3 {
    margin-bottom: 16px;
  }
}

@media (max-width:40rem) {
  .produtosContainer {
    margin-top: 0px;
  }
  .produtos {
  grid-template-columns: repeat(2, minmax(140px, 1fr));
  padding: 0 10px;
  gap: 16px;
  }
  .produtosContainer h3 {
    margin-bottom: 16px;
  }
}