.ProductView_container {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  padding: 0 10px;
  display: grid;
  padding: 0 20px;
  grid-template-columns: 1fr 1fr ;
  flex-direction: column;
  gap: 2rem;
  margin-top: 32px;
}

.ProductView_images{
  height: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  padding-top: 32px;
  margin-bottom: 16px;
}

.estoque {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 45px 45px 45px 45px;
  margin-top: 16px;
  gap: 8px;
  margin-top: 32px;
}
.estoque h3 {
  grid-column: 1/-1;
  width: 100%;
}
.infos {
  display: flex;
  flex-direction: column;
  font-family: var(--type-second);
  margin-bottom: 16px;
}

.brand {
  font-family: var(--type-second);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 11px;
  text-transform: uppercase;
}
.name {
  font-family: Tiempos;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1.5px;
  line-height: 40px;
  margin-bottom: 0.5rem;
  margin-top: initial;
}
.price {
  font-family: Tiempos;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 16px;
}

.colors {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
}

.colorInput {
  display: grid;
  position: relative;
  width: 20px;
}
.colorInput label {
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.colorInput label.active {
  border: 2px solid black;
}
.colorInput label.colorOff span {
  pointer-events: none;
  opacity: 0.3;
}
.colorInput input {
  background-color: #fff;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  bottom: 0;
}
.colorInput label {
  display: inherit;
  line-height: 1;
  padding: 0.1875rem;
  font-size: 0;
  line-height: 1;
}
.spanCor {
  font-family: var(--type-second);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 14px;
  margin-bottom: 8px;
}
.form_radio_container{
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, 4rem);
  gap: 1rem;
  height: max-content;
  align-items: center;
}
.spanColor {
  display: inline-block;
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 100;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1);
}
.cores {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 16px;
  box-shadow: 0 0px 0px 4px transparent inset;
  color: transparent;
  padding: 2px;
}

.formRadio:checked {
  border-color: #333;
  box-shadow: 0 0 0 1px #333;
  border-radius: 50%;
}

.sizes {
  border: 1px solid rgba(61, 61, 61, 0.5);
  box-sizing: border-box;
  display: grid;
  width: 43px;
  height: 43px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.sizes h4 {
  font-weight: 400;
  font-family:var(--type-second);
  font-size: 12px;
}
.sizes.active h4 {
  font-weight: 600;
}

.sizes.emFalta {
  color: #999;
  border-color: #C3C3C3;
  cursor: not-allowed;
  text-decoration: line-through;
}
.sizes.active {
  border: 3px solid black;
  font-weight: 600;
}
.adicionar {
  margin-top: 32px;
  border-top: 1px solid #D9D9D9;
  width: 100%;
  display: grid;
}

.addBag{
margin-top: 16px;
min-height: 44px;
padding-left: 1rem;
padding-right: 1rem;
font-size: 12px;
font-family: var(--type-second);
background-color: #27251f;
outline: none;
color: white;
border: none;
cursor: pointer;
font-weight: 400;
letter-spacing: 1.5px;
line-height: 22px;
width: calc(100% - 4.5rem);
position: relative;
left: -2.25rem;
}
.bagOff {
  cursor: not-allowed;
  background: #666;
  color: #E7E7E7;
}

.descricao {
  margin-top: 32px;
}
.descricao p{
  font-family: var(--type-second);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 20px;
  border-bottom: 2px solid black;
  width: max-content;
  margin-bottom: 1rem;
}
.descricaoTexto {
  font-family: var(--type-second);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 20px;
}

/* Slide Full-Screnn */
.containerFullScrenn {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 999999;
}
.fechar {
  position: absolute;
  color: white;
  cursor: pointer;
  padding: 20px;
}
.imageFullScren {
  margin-top: 60px;
}

@media (max-width:700px) {
  .ProductView_container {
    display: flex ;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  .ProductView_images {
    width: 100%;
  }
  .ProductView_details {
    padding: 0 10px 64px 10px;
  }

  .colors {
    margin-top: 8px;
  }
  .estoque{
    margin-top: 16px;
  }
  .estoque h3 {
    margin-bottom: 0;
  }
  .adicionar{
    margin-top: 16px;
  }
  .descricao {
    margin-top: 16px;
  }
}

@media (max-width:35rem) {

  .form_radio_container {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 2rem);
    height: max-content;
  }
  .ProductView_images{
    padding-top: 60px;
    height: 600px;
    position: sticky;
    top: 0;
  }
  .ProductView_details {
    background-color: white;
    padding-top: 0.5rem;
    z-index: 1000;
  }
  .brand{
    display: block;
    padding-bottom: 8px;
  }
  .name {
    line-height: 24px;
  }
}
@media (max-width:30rem) {
  .ProductView_images{
    height: 500px;
  }
}
@media (max-width:24rem) {
  .ProductView_images{
    height: 450px;
  }
}