.produto {
  display: grid;
  grid-template-rows: 460px 50px;
  gap: 16px 0;
  height: max-content;
}
.divImage {
  height:100%;
}
.produto img {
  border-radius: .2rem;
  min-height: 460px;
  object-fit: cover;
}
.infos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.title {
  text-align: start;
  font-family: var(--type-second);
  font-size: 16px;
  font-weight: 400;
}
.price {
  text-align: start;
  width: max-content;
  margin-right: 30px;
  font-size: 12px;
  font-family: var(--type-second);
  font-weight: 400;
}
.bag {
  background: #e7e7e7;
  border-radius: 9999px;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: -5px;
}

@media (max-width:1100px) {
  .produto {
    grid-template-rows: 500px 50px;
  }
  .produto img {
    min-height: 500px;
  }
}

@media (max-width: 50rem) {
  .produto {
    grid-template-rows: 400px 50px;
  }
  .produto img {
    min-height: 400px;
    max-height: 400px;
  }
  .price {
  margin-right: 10px;
  }
}

@media (max-width: 40rem) {
  .produto {
    grid-template-rows: 300px 50px;
  }
  .produto img {
    min-height: 300px;
    max-height: 300px;
  }
  .price {
  margin-right: 10px;
  }
}

@media (max-width: 550px) {
  .produto {
    grid-template-rows: 280px 50px;
  }
  .produto img {
    min-height: 280px;
    max-height: 280px;
  }
  .price {
  margin-right: 10px;
  }
}

@media (max-width: 30rem) {
  .produto {
    grid-template-rows: 230px 50px;
  }
  .produto img {
    min-height: 230px;
    max-height: 230px;
  }
  .price {
  margin-right: 10px;
  }
}