.nav {
  margin: 0 auto;
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin-top: 32px;
}

.slides {
  width: 125px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
}
.slides img {
  width: 125px;
  align-self: center;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #e6e6e6;
}
.slides h3 {
  width: 125px;
  text-transform: uppercase;
  padding-bottom: 0.3125rem;
  font-family: Quicksand;
  font-size: .75rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: .015rem;
  text-align: center;
  color: #000;
  padding-top: 16px;
  align-self: center;
}

.slides:hover.slides h3 {
  border-bottom: 1px solid black;
  width: max-content;
}

@media (max-width:64rem) {
  .inner{
    gap: 40px;
    }
    .nav {
      margin-top: 16px;
    }
}
@media (max-width:50rem) {
  .inner{
    gap: 40px;
    }
}

@media (max-width:35rem) {
  .slides {
    width: 100px;
  }
.slides img {
  height: 100px;
  width: 100px;
}
.slides h3 {
  padding-top: 4px;
}
}

