.ProductView_container {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  display: grid;
  padding: 0 20px;
  grid-template-columns: 1fr 350px ;
  flex-direction: column;
  gap: 2rem;
  margin-top: 32px;
}
 
h1 {
  text-align: center;
  padding-top: 32px;
  margin-bottom: 16px;
}

/* Informacoes */
.estoque {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 45px 45px 45px 45px;
  margin-top: 16px;
  gap: 8px;
  margin-top: 32px;
}
.sizes {
  display: flex;
  grid-column: 1/-1;
  width: 100%;
  min-width: max-content;
  font-size:14px;
}
.sizes span {
  font-size: 12px;
}
.brand {
  font-family: var(--type-second);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 11px;
  text-transform: uppercase;
}
.name {
  font-family: Tiempos;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1.5px;
  line-height: 40px;
  margin-bottom: 0.5rem;
  margin-top: initial;
}
.price {
  font-family: Tiempos;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 16px;
}

/* COLOR */
.spanCor {
  font-family: var(--type-second);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 14px;
  margin-bottom: 8px;
  font-size: 12px;
}
.colors {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
}
.form_radio_container{
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, 4rem);
  gap: 1rem;
  height: max-content;
  align-items: center;
}

/* Slide Full-Screnn */
.containerFullScrenn {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0);
  z-index: 1000;
  opacity: 0;
  animation: toAppear .4s ease forwards;
}
.fechar {
  position: absolute;
  color: white;
  cursor: pointer;
  padding: 20px;
  top: 0;
  left: 0;
}
.imageFullScren {
  display: flex;
  align-items: center;
  width: max-content;
  height: auto;
}
.imageFullScren img {
  width: 100%;
  max-width: max-content;
  display: block;
  object-fit: contain;
  max-height: 85vh;

}
@keyframes toAppear {
  to {
    opacity: 1;
  }
}
@media (max-width:700px) {
  .ProductView_container {
    display: flex ;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: 0;
  }

  .ProductView_details {
      background-color: white;
      padding: 1rem 20px 100px 20px;
      height: max-content;
      border-radius: 30px 30px 0 0;
      position: relative;
      top: -30px;
      opacity: 0.97;
      z-index: 100;
  }
  .ProductView_details::before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 10px;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, .8);
  }
  .brand {
    padding-top: 16px;
    font-weight: 500;
  }
  .name {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .price {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 32px;
  }
  .colors {
    margin-top: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
  }
  .spanCor {
    margin-bottom: 8px;
  }


  .descricao {
    margin-top: 16px;
  }
  .form_radio_container {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 2rem);
    height: max-content;
  }

}

@media (max-width:35rem) {

  .form_radio_container {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 2rem);
    height: max-content;
  }
  .ProductView_images{
    position: sticky;
    top: 0;
  }
  .ProductView_details {
    background-color: white;
    padding-top: 0.5rem;
    z-index: 100;
  }
  .brand{
    display: block;
    padding-bottom: 8px;
  }
  .name {
    line-height: 24px;
  }
}
