.ProductView_container {
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
  padding: 0 10px;
  display: grid;
  padding: 0 20px;
  grid-template-columns: 1fr 350px ;
  flex-direction: column;
  gap: 2rem;
  margin-top: 32px;
}

.ProductView_images{
  height: 400px;
  display: grid;
  align-items: center;
  justify-content: center;
}


h1 {
  text-align: center;
  padding-top: 32px;
  margin-bottom: 16px;
}
/* Fotos */



/* Informacoes */
.estoque {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 45px 45px 45px 45px;
  margin-top: 16px;
  gap: 8px;
  margin-top: 32px;
}
.estoque h3 {
  grid-column: 1/-1;
  width: 100%;
  font-size:14px;
}
.brand {
  font-family: var(--type-second);
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 11px;
  text-transform: uppercase;
}
.name {
  font-family: Tiempos;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 1.5px;
  line-height: 40px;
  margin-bottom: 0.5rem;
  margin-top: initial;
}
.price {
  font-family: Tiempos;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 16px;
}

/* COLOR */
.spanCor {
  font-family: var(--type-second);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 14px;
  margin-bottom: 8px;
  font-size: 12px;
}
.colors {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
}
.form_radio_container{
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, 4rem);
  gap: 1rem;
  height: max-content;
  align-items: center;
}



.botoes {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 32px;
  margin-top: 16px;
  padding-bottom: 64px;
}

.deletar {
  display: grid;
  justify-content: center;
  justify-items: center;
  border: 1px solid rgba(0, 0, 0, .5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  gap: 16px;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
}
.deletar div {
  display: flex;
  gap: 32px;
}
.deletar button {
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.deletar button:nth-child(2) {
  font-weight: 600;

}
.deletar button:nth-child(1) {
  background-color: red;
  color: aliceblue;
}

@media (max-width:700px) {
  .ProductView_container {
    display: flex ;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .ProductView_images {
    width: 100%;
    padding-top: 20px;
    height: 50vh;
    position: sticky;
    top: 0;
  }
  .ProductView_details {
      background-color: white;
      padding: 0 10px 64px 10px;
      padding-top: 0.5rem;
      z-index: 100;
  }
  .brand {
    padding-top: 16px;
    font-weight: 500;
  }
  .name {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .price {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 32px;
  }
  .colors {
    margin-top: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
  }
  .spanCor {
    margin-bottom: 8px;
  }

  .adicionar{
    margin-top: 16px;
  }
  .descricao {
    margin-top: 16px;
  }
  .form_radio_container {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 2rem);
    height: max-content;
  }

}
@media (max-width:600px) {
  .gridPhoto {
    flex-direction: column;
  }
  .descricao p{
    font-size: 0.7rem;
  }
  .infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .name {
    font-size: 1.6rem;
  }
  .price {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.3rem;
  }
}