.infos {
  background-color: black;
  height: 40px;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.infos::before {
  content: '';
  display: block;
  width: 25px;
  height: 15px;
  background: url('../assets/svg/svgHeader/caminhaoWhite.svg') no-repeat center center;
}