.swiper-button-prev {
  color: black !important;
  position: relative !important;
  display: inline-block !important;
  top: -0px !important;
  left: 0% !important;
  transform: translate(-365px, -420%) !important;
  padding: 10px !important;
}
.swiper-button-next {
  color: black !important;
  position: relative !important;
  display: inline-block !important;
  top: 0% !important;
  left: 50% !important;
  transform: translate(-130%, -420%) !important;
  padding: 10px !important;
}
.swiperCategory {
  position: relative;
  width: calc(100vw - 5%);
  box-sizing: border-box;
  padding:0 50px !important;
  max-width: 800px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-0%);
  height: 250px;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 60px !important;
}
.slides,
.swiperSlide-category {
  max-height: max-content !important;
  height: 50px !important;
}
.swiper .swiperSlide-category:last-child {
  margin-right: 100px !important;
}



@media (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    --swiper-navigation-size: 35px;
    top: -30px !important;
  }

  .swiperCategory {
    height: 180px;
  }
  .swiper-pagination {
    bottom: 0px !important;
  }
}

@media (max-width: 35rem) {
  .swiperCategory {
    height: 160px;
  }
}

@media (max-width: 400px) {
  .swiperCategory {
    width: calc(100vw - 10%);
    padding: 0 50px 0 0 !important;
  }

}


