.infos {
  display: flex;
  background-color: black;
  gap: 6px;
  height: 40px;
  width: 100%;
  z-index: 100;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  color: white;
}
.infos2 {
  display: flex;
  background-color: #f9e2e7;
  gap: 6px;
  height: 40px;
  width: 100%;
  z-index: 100;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  color: #333;
}
.infos p,
.infos2 p{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  white-space: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-family: BentonSans, Helvetica, Arial, sans-serif;
  font-size: 0.79rem;
  line-height: 12px;
  letter-spacing: 0.08em;
}
.infos span,
.infos2 span {
  font-weight: 500;
}

.infos::before {
  content: '';
  display: block;
  width: 24px;
  height: 15px;
  background: url('../../../assets/svg/svgHeader/caminhaoWhite.svg') no-repeat center center;
}


.infos2::before {
  content: '';
  display: block;
  width: 24px;
  height: 15px;
  background: url('../../../assets/svg/svgHeader/caminhao.svg') no-repeat center center;
}

@media (max-width: 1024px) {
  .infos::before,
  .infos2::before {
    background-size: 20px;
  }
  .infos,
  .infos2 {
    height: 30px;
  }
  .infos p,
  .infos span, 
  .infos2 p,
  .infos2 span{
    font-size: 10px;
  }

}