.imagens {
  display: grid;
  grid-template-columns: 75px minmax(44px, 500px);
  gap: 16px;
  max-width:600px;
  margin: 0 auto;
}

.miniImages {
  display: flex;
  flex-direction: column;
  width: 44px;
  gap: 16px 0px;
  max-height: 450px;
}
.miniImagensDiv{
  width: 44px;
  max-height: 44px;
  display: flex;
  object-fit: contain;
  border: 3px solid #FFBFD0;
  cursor: pointer;
}
.miniImages div.active {
  border-color:  #E12959;
}
.miniImages div:last-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imagemPrincipal {
  justify-self: end;
  cursor: pointer;
}
.imagens img {
  pointer-events: none;
}

/* Mobile */
.totalSlides {
  width: 35px;
  height: 20px;
  font-size: 12px;
  font-family: var(--type-second);
  font-family: 400;
  border-radius: 9999px;
  letter-spacing: 1.5px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom:60px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  left: 50%;
  transform: translate(-50%, -20%);
}

@media (max-width:50rem) {
  .imagens,
  .imagemPrincipal img{
    height: auto;
    max-height: 600px;
    height: 400px;
  }
  .imagemPrincipal img {
    width: min-max(300px, 700px);
  }
  .imagens {
    max-width: 500px;
  }
}
@media (max-width:50rem) {
  .imagens{
    height: auto;
    max-height: 600px;
    height: 400px;
  }
  .imagens {
    max-width: 500px;
  }
}
@media (max-width:40rem) {
  .imagens {
    height: 600px;
  }
}

