.swiperPhotos {
  height: 70vh;
  width: calc(100vw - 1%);
}

@media (max-width:30rem) {
  .swiperPhotos{
    width: calc(100vw - 17px);
  }
}
@media (max-width:24rem) {
  .swiperPhotos{
    width: calc(100vw - 17px);
  }
}

