@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding-top: 2.5rem;
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Quicksand', sans-serif;
  font-family: var(--type-first);
  min-height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}


.container {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 120px;
}

.containerSingle {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 20px;
}
.mainContainer {
  margin-top: 4rem;
}
.form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 64px;
}

.subtitle {
  font-family:Quicksand ;
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  width: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 4px;
  height: 20px;
  margin-bottom: 16px;
}

@media (max-width:50rem) {
  .subtitle{
    font-size: 24px;
  }
}
@media (max-width:40rem) {
  .subtitle{
    font-size: 18px;
  }
}

.mobile {
  width: 30px;
  height: 2px;
  background-color: white;
  box-shadow: 0 8px 0 white, 0 -8px 0 white;
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: pointer;
}

.animeLeft{
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
.animeRight{
  opacity: 0;
  transform: translateX(40px);
  animation: animeRight .3s forwards;
}

@keyframes animeRight {
  to {
    opacity: 1;
    transform: initial;
  }
}

.ButtonCriar{
  width: max-content;
  margin: 0 auto;
  margin-top: 64px;
  background-color: black;
  cursor: pointer;
  border: none;
  padding: 16px 32px;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  border-radius: 12px;
}

.ButtonCriar::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg,red,blue,deeppink,blue,red,blue,deeppink
  ,blue);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 25s linear infinite;
  transition: 0.2s;
}


@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.error {
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
  padding: 8px 15px;
  border-radius: 5px;
  position: fixed;
  top: 100px;
  right: 10%;
  background: #333;
  width: max-content;
  font-weight: 500;
  font-size: 16px;
  color: white;
}