.body {
  position: relative;
}
.header {
  position: sticky;
  top: 50px;
  left: 0;
  display: grid;
  width: 100%;
  justify-items: center;
  color: white;
  z-index: 100;
  transform: translateY(-10px);
  transition: all .1s;
  animation: hidenFirst .3s ease forwards;
}
@keyframes hidenFirst {
  to{
    opacity: 1;
    transform: initial;
  }
}

.header2{
  background-color: white;
  height: 120px;
  top: 0;
  max-width: none;
  box-shadow: 0 1px 0px rgba(0, 0, 0, .2);
  padding: 10px 0;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transform: translateY(40px);
  opacity: 0;
  animation: hiden .3s ease forwards;
}

@keyframes hiden {
  to{
    opacity: 1;
    transform: initial;
  }
}
.bag {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 40px;
  display: block;
  width: 20px;
  height: 20px;
}
.bag::after {
  content: '';
  display: none !important;
}

.logo2 svg{
  top: 0px;
  position: relative;
  width: 130px;
}
.logo2 svg{
  fill: #333;
}

.logo{
  width: auto;
  height: 70px;
  margin-bottom: 24px;
  cursor: pointer;
}
.logoHeader2 {
  flex: 1;
  display: grid;
  justify-items: center;
  cursor: pointer;
}

.header2 nav a{
  position: relative;
}

.nav{
  display: flex;
  margin-top: 16px;
  gap: 70px;
}
.nav a{
  font-size: 14px;
  cursor: pointer;
}


/* Parte mobile */

.headerMobile {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr ;
  top: 50px;
  left: 0;
  width: 100%;
  max-width: 1280px;
  justify-items: center;
  color: white;
  z-index: 99;
  animation: none;
  opacity: 1;
  transform: initial;
  transition: .2s ;
}

.headerNav svg {
  grid-row: 2;
  width: auto;
  height: 70px;
  margin-bottom: 24px;
  cursor: pointer;
}

.navContainer {
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0;
}
.navMobile {
  position: fixed;
  top: 0;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px 12px;
  box-sizing: border-box;
  color: #333;
  border-radius: .2rem;
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  padding-top: 135px;
  padding-left: 45px;
  padding-right: 30px;
}

.headerMobile.header2 {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr ;
  top: 0px;
  left: 0;
  width: 100%;
  max-width: none;
  justify-items: center;
  color: white;
  animation: none;
  opacity: 1;
  transform: initial;
}


.navMobile .links{
  position: relative;
}

.links:global(.active){
  border-bottom: 2px solid black;
}
.navMobileActive {
  opacity: initial;
  pointer-events: initial;
  width: 300px;
}
.navMobile{
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.navMobile .links{
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1.2px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.navMobile .links::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url('./assets/svg/svgHeader/chevron_right.svg') no-repeat center center;
  align-self: flex-end;
}
.navMobile .links:hover{
  box-shadow:0 1px rgba(0, 0, 0, 0.6);
}

.mobileButton {
  position: fixed;
  top: 75px;
  left: 40px;
  background-color: transparent;
  border-radius: .2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
  color: white;
  z-index: 2000;
}
.header2 .mobileButton {
  top: 50px;
  color: #333;

}

.mobileButton::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: .2s;
}

.mobileButton:focus ,
.mobileButton:hover,
.mobileButtonActive{
  outline: none;
  color: #333;
}

.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

@media (max-width:64rem) {
  .nav ul {
    display: none;
  }
}

@media (max-width:35rem) {
  .navMobile {
    top: 0;
    left: 0px;
    padding: 20px 12px;
    /* opacity: 0;
    pointer-events: none; */
    padding-top: 135px;
    padding-left: 25px;
    padding-right: 30px;
  }
  
  .navMobileActive {
    opacity: initial;

    pointer-events: initial;
  }

  .navMobile ul li{
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1.2px;
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .navMobile ul li::after {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('./assets/svg/svgHeader/chevron_right.svg') no-repeat center center;
    align-self: flex-end;
  }

  
  .mobileButton {
    position: fixed;
    top: 75px;
    left: 20px;
    background-color: transparent;
  }
  

}