.header {
  position: relative;
  width: 100%;
  z-index: 99999;
  padding: 20px 0;
}
.header.styleHome {
  position: absolute;
  margin-top: 2.5rem;
  padding: 20px;
}

.nav {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navComputer {
  display: flex;
  gap: 32px;
  width: max-content;
  margin: 0 auto;
}

.noHome {
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, .2);
}

/* Logo */

.logo a:global(.active){
  border: none;
}
.logo2 a:global(.active){
  border: none;
}

.logo {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 16px;
}


/* LINKS */
.styleHome .nav .navComputer .links{
  color: white;
}
.links:global(.active) {
  box-shadow: 0 1px black;
}

.styleHome .links:hover {
  box-shadow: 0 1px white;
}


/* BAG */
.nav .bag {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

/* Mobile */

.nav.mobile {
  display: grid;
  grid-template-columns: 40px max-content 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.styleHome .navMobile {
  top: 0;
}
.navMobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  color: #333;
  width: max-content;
  top: 85px;
  left:0 ;
  padding: 135px 30px 20px 45px;
  z-index: 100;
  transform: translateX(-100%);
}
.navMobile.active {
  opacity: 1;
  pointer-events: initial;
}

.navMobile.animeLeftBack{
  opacity: 0;
  transform: translateX(0px);
  animation: animeLeftBack 1s ease forwards;
}

.styleHome .navContainer {
  top: 0;
}

.navContainer {
  display: block;
  position: fixed;
  transform: translateZ(0);
  top: 84px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  z-index: 2;
  backdrop-filter: blur(3px);
}


/* BAG */

.mobile .bag {
  width: 25px;
  position: relative;
  bottom: initial;
  right: initial;
  cursor: pointer;
}



/* LINKS */
.links {
  display: inline-grid;
  letter-spacing: 1.5px;
  font-size: 12px;
  border-bottom: 0.125rem solid transparent;
}
.styleHome .nav .navMobile .links{
  color: #333;
}
.navMobile .links {
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1.2px;
  box-shadow: 0 1px #0000001a;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 32px;
  align-items: center;
}
.navMobile .links::after {
  content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url('/src/assets/svg/svgHeader/chevron_right.svg') no-repeat center center;
    align-self: flex-end;
}


/* LOGO */
.noHome .mobile .logo svg{
  width: 100px;
  height: 40px;
}

.mobile .logo {
  justify-self: initial;
  margin-bottom: 0;
}

/* MOBILE BUTTON */

@keyframes animeLeftBack {
  0% {
    opacity: 1;
    transform: inherit;
  }
  90% {
    opacity: 1;
    transform: translateX(-280px);
  }
  100%{
    opacity: 0;
    transform: translateX(-280px);
    pointer-events: none;
  }
}
.mobileButton {
  background-color: transparent;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .1s;
  cursor: pointer;
  z-index: 2000;
}
.mobileButton.buttonWhite {
  color: #fff;
}

.mobileButton::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor,0 -6px currentColor;
  transition: .1s;
}

.mobileButton.buttonWhite:focus ,
.mobileButton.buttonWhite:hover,
.mobileButton.buttonWhiteActive{
  outline: none;
  color:white;
}

.mobileButton:focus ,
.mobileButton:hover,
.mobileButtonActive{
  outline: none;
  color:#333;
}

.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}
.itensBag {
  position: absolute;
  display: flex;
  top: -10px;
  right: -20px;
  background-color: red;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  pointer-events: none;
}
@media (max-width:700px) {

  /* Header/Nav */
  .header.headerMobile,
  .header.styleHome {
    padding: 0;
  }
.nav.mobile {
  display: grid;
  align-items: center;
  padding: 0 10px 0 20px;
  height: 60px;
  z-index: 101;
  }
.noHome {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3),0 0 4px 1px rgba(0, 0, 0, 0.1);
}
  /* LOGO */
  .logo svg{
    width: 150px;
    height: 70px;
  }

  /* BAG */
.mobile .bag {
  width: max-content;
}
.navContainer {
  top: 60px;
}
.navMobile {
  top:61px;
}

}

@media (max-width:35rem) {
/* HEADER / NAV */
.header.noHome.productSingle {
  position: fixed;
  top: 0;
  background-color: white;
}


/* LOGO */
.logo svg{
  width: 120px;
}
.logo svg {
  height: 50px;
}

/* BAG */
.bag svg{
  width: 20px;
  height: 20px;
}

/* MOBILE BUTTON */
.mobileButton {
    width: 35px;
    height: 30px;
  }
}

@media (max-width:450px) {
  /* HEADER / NAV */
  .navMobile {
    width: 230px;
    padding: 135px 20px 20px 20px;
  }
  .nav ul {
    gap: 16px;
  }

  /* LINKS */
  .navMobile .links {
    font-size: 12px;
  }
  /* LOGO */

  /* BAG */

}