.header {
  position: sticky;
  width: 100%;
  z-index: 2000;
  padding: 20px 0;
}
.header.styleHome {
  padding: 20px;
}
.header.styleHome.style2 {
  padding: 10px 20px;
}

.header.style2 {
  padding: 10px 0;
}

.nav .mobile,
.style2 .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.nav .bag {
  position: absolute;
  bottom: 20px;
  right: 40px;
}
.style2 .nav .bag ,
.mobile .bag {
  position: initial;
  bottom: initial;
  right: initial;
}
.header.style2 ,
.header.styleHome.style2 {
    background: white;
    top: 0px;
    box-shadow: 0 0 2PX 1px rgba(0, 0, 0, .5);
  }
.noHome {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
}
.style2 .logo{
display: none;
}

.noHome .mobile .logo svg,
.style2 .logo2 svg{
  width: 100px;
  height: 40px;
}
.styleHome .nav .navComputer .links{
  color: white;
}
.styleHome.style2 .nav .navComputer .links{
  color: #333;
}

.style2 .nav ul .links{
  color: #333;
}
.logo {
  justify-self: center;
  margin-bottom: 16px;
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

.nav ul {
  display: flex;
  gap: 32px;
}
.bag {
  cursor: pointer;
}


.links:global(.active) {
  box-shadow: 0 1px black;
}
.logo a:global(.active){
  border: none;
}
.logo2 a:global(.active){
  border: none;
}

.links:hover {
    box-shadow: 0 1px black;
}


/* Mobile */
.nav.mobile {
  display: grid;
  grid-template-columns: 100px 110px;
  justify-content: space-between;
  padding: 0 20px;
}
.styleHome .nav.mobile {
  padding: 0 ;
}
.objetos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  gap: 32px;
}
.links {
  display: inline-grid;
  letter-spacing: 1.5px;
  font-size: 12px;
  border-bottom: 0.125rem solid transparent;
}
.styleHome .nav .navMobile .links{
  color: #333;
}
.navMobile .links {
  font-size: 14px;
  cursor: pointer;
  letter-spacing: 1.2px;
  box-shadow: 0 1px #0000001a;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 32px;
}
.navMobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translateZ(0);
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  color: #333;
  width: max-content;
  top: 0;
  left:0 ;
  padding: 135px 30px 20px 45px;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}
.mobile .logo {
  justify-self: initial;
  margin-bottom: 0;
}
.navMobile .links::after {
  content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url('/src/assets/svg/svgHeader/chevron_right.svg') no-repeat center center;
    align-self: flex-end;
}

.navMobile.active {
  opacity: 1;
  pointer-events: initial;
}
.mobileButton {
  background-color: transparent;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .1s;
  cursor: pointer;
  z-index: 2000;
}
.mobileButton.buttonWhite {
  color: #fff;
}
.navContainer {
  display: block;
  position: fixed;
  transform: translateZ(0);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  z-index: 2;
  backdrop-filter: blur(3px);
}

.mobileButton::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor,0 -6px currentColor;
  transition: .1s;
}

.mobileButton.buttonWhite:focus ,
.mobileButton.buttonWhite:hover,
.mobileButton.buttonWhiteActive{
  outline: none;
  color:white;
}

.mobileButton:focus ,
.mobileButton:hover,
.mobileButtonActive{
  outline: none;
  color:#333;
}

.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}

@media (max-width:700px) {

  .header.styleHome {
    padding: 10px 20px;
  }

  .nav.mobile {
    grid-template-columns: 150px 100px;
    padding: 0 20px;
  }

  .logo svg{
    width: 150px;
    height: 70px;
  }

}
@media (max-width:35rem) {
  .objetos {
    gap: 16px;
  }
}