.header {
  position: relative;
  width: 100%;
  z-index: 104;
  padding: 8px 0;
}
.header.styleHome {
  position: absolute;
  padding: 8px 0;
}

.nav {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navComputer {
  display: flex;
  gap: 32px;
  width: max-content;
  margin: 0 auto;
}

.noHome {
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, .1);
}

/* OBJETOS */
.objetos {
  display: flex;
  width: 100%;
  max-height: 100%;
  align-items: center;
}
.outros {
  display: flex;
  gap: 16px;
}

/* LINKS */
.links {
  position: relative;
  width: max-content;
  padding: 10px 0 0 0;
}
.styleHome .nav .navComputer .links{
  color: white;
}

.links:global(.active)::before {
  content: '';
  display: block;
  width: 100%;
  height: 0.125rem;
  color: #333;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 1000;
}
.links:hover.links::before {
  content: '';
  display: block;
  width: 100%;
  height: 0.125rem;
  color: #333;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 1000;
  transition: all .2s;
}

.styleHome .links:hover.links::before {
  content: '';
  display: block;
  width: 100%;
  height: 0.125rem;
  color: #FFF;
  background-color: #FFF;
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 1000;
  transition: all .2s;
}

/* Mobile */

.nav.mobile {
  display: grid;
  grid-template-columns: 40px max-content 45px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.styleHome .navMobile {
  top: 0;
}
.navMobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  color: #333;
  width: max-content;
  top: 85px;
  left:0 ;
  padding: 135px 30px 20px 45px;
  z-index: 104;
  transform: translateX(-100%);
  gap: 32px;
}
.navMobile.active {
  opacity: 1;
  pointer-events: initial;
}

.navMobile.animeLeftBack{
  opacity: 0;
  transform: translateX(0px);
  animation: animeLeftBack 1s ease forwards;
}

.styleHome .navContainer {
  top: 0;
}

.navContainer {
  display: block;
  position: fixed;
  transform: translateZ(0);
  top: 84px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  z-index: 102;
  backdrop-filter: blur(3px);
}

/* LINKS */
.links {
  display: inline-grid;
  letter-spacing: 1.5px;
  font-size: 12px;
  border-bottom: 0.125rem solid transparent;
}
.styleHome .nav .navMobile .links{
  color: #333;
}
.navMobile .links {
  font-size: .75rem;
  font-weight: 400;
  font-family: var(--type-second);
  cursor: pointer;
  letter-spacing: 1.3px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 32px;
  align-items: center;
}
.navMobile .links::after {
  content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url('/src/assets/svg/svgHeader/chevron_right.svg') no-repeat center center;
    background-size: 15px;
    align-self: flex-end;
}


@keyframes animeLeftBack {
  0% {
    opacity: 1;
    transform: inherit;
  }
  90% {
    opacity: 1;
    transform: translateX(-280px);
  }
  100%{
    opacity: 0;
    transform: translateX(-280px);
    pointer-events: none;
  }
}

@media (max-width:1024px) {

  /* Header/Nav */
  .header.headerMobile,
  .header.styleHome {
    padding: 0;
  }
  .productSingle.navContainer {
    top: 50px;
  }
  .productSingle .navMobile {
    top: 51px;
  }
  .nav.mobile {
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 20px;
    align-items: center;
    height: 50px;
  }

  /*  */
.navContainer {
  top: 80px;
}
.navMobile {
  border-top: 1px solid black;
  top:80px;
}
.header.noHome.productSingle {
  position: fixed;
  top: 0;
  background-color: white;
}
.links {
  position: relative;
  width: max-content;
  padding: 10px 0 0 0;
}
.styleHome .nav .navComputer .links{
  display: none;
}

.links:global(.active)::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  color: #333;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 1000;
}
.links:hover.links::before {
  display: none;
}
.links:global(.active):hover::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  color: #333;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: -10px;
  z-index: 1000;
}
}