.containerOpenBox{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50000;
}
.divOpen{
  position: relative;
  width: 300px;
  height: 350px;
  background-color: white;
  top: -100px;
  border-radius: 10px;
  padding: 0 20px;
  box-sizing: content-box;
}
.divOpen div:first-child{
  position: relative;
  top: -20px;
  pointer-events: none;
}
.divOpen p{
  font-family: var(--type-second);
  letter-spacing: 1.2px;
  max-width: 24ch;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  line-height: 25px;
}
.divOpen p span {
  display: block;
  font-weight: 600;
  color: #fe8b34;
}
.divOpen button {
  border: none;
  background: black;
  color: white;
  height: 40px;
  width: 110px;
  font-size: 16px;
  font-family: var(--type-first);
  font-weight: 600;
  text-align: center;
  position: relative;
  bottom: -30px;
  cursor: pointer;
}

.moveUp {
	-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.moveCenter {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.infos {
  transform: translateY(-10px);
  animation: dropDown .2s ease forwards;
  opacity: 0;
}
@keyframes dropDown{
  to{
    transform: initial;
    opacity: 1;
  }
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width:500px) {
  .divOpen {
    width: 280px;
    padding: 0;
  }
}